.header{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-header{
    margin: 10px;
    
}
.logo-header img{
    width: 200px;
}
@media(max-width: 900px){
    .header{
        display: none;
    }
}